<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_meta.html", grunt.data.json) %>
  </head>

  <body>

  <%= t.include("partials/_nav.html", grunt.data.json) %>


  




    <section id="topper">

      <div class="sticky">
        <div class="video-background">
          <div class="video-foreground">
            <iframe src="https://player.vimeo.com/video/332601629?background=1" allowfullscreen></iframe>
          </div>
        </div>
      </div><div class="title">
        <div role="header">
          <h1>Pennies Per Hour</h1>
          <p>Most California state prisoners hold jobs maintaining prison facilities, from mopping cellblock floors to serving food in the chow hall. They can earn up to 11 cents an hour, but some critics say there’s a higher cost: The jobs leave prisoners unprepared for life on the outside  — especially formerly incarcerated women.</p>
        </div>
      </div>
      



    </section>


    <section id="intro">
      

      <article>
        <p>Rojas says the scullery is one of the last places any prisoner wants to be.</p>
        <p>In the women’s prison in Chowchilla, Calif., it’s a cramped, slippery room within the kitchen that serves only one function: washing the dining trays. For two meals a day, breakfast and dinner, a couple thousand prisoners shuffle into the chow hall to line up, collect their food, eat and line up once more to dispose their trays in 15-minute intervals. </p>
        <p>The trays are stacked, one after another, onto the opening window of the scullery. They’re often sloppily tossed, sending chunks of leftover food flying onto the floors and splattering the person  who’s working inside: the sole prisoner who’s responsible for rinsing and schlepping the trays through an industrial dishwashing machine.</p>
        <p>Enclosed by shiny industrial steel walls with only small slats that open to the rest of the prisoner population, it was harsh, isolating and uncomfortable work. “You’re standing in this sauna, surrounded by steamy bleach and it’s like 110 degrees outside,” said Rojas, adding that the cleaning chemicals would “eat up my hands.”</p>
        <p>The Compton, Calif. native — who once went by Stacy Rojas and now identifies as gender non-conforming (and uses they/them/their pronouns)  — served 15 years in Central California Women’s Facility (CCWF), the state’s largest female correctional institution. Rojas was sentenced for attempted second-degree murder with use of a firearm. It’s a crime they say was an act of retaliation after someone shot their younger brother.</p>
        <p>As the child of a single teen mom growing up in Compton during the 1990’s, Rojas followed a path that many other kids with similar backgrounds took. They joined a gang. To this day, Rojas is unashamed about the under-resourced environment they grew up in, despite being exposed to violence and crime at an early age. </p>
        <p>“My mama couldn't afford baseball, you know. But we had each other,” said Rojas. “What is a whole bunch of kids to do when there was nothing else for us?” Even for a young, queer kid from the hood who was still navigating their identity, they says it provided a sense of security, family and acceptance. </p>
        <p>In 2002, Rojas entered prison without a high school diploma or any professional work training, other than short stints in warehouses or as a security guard in Los Angeles.</p>
        <p>In 2017, Rojas, then 36-years-old, walked out of prison and returned to Compton. After having dozens of job applications rejected, they soon felt lost and fell into a deep depression. Today, Rojas attributes some of those feelings of being unprepared for life and work on the outside to the monotonous prison jobs they were assigned.</p>
        <p>Throughout Rojas’ entire incarceration, the highest wage they had ever earned was 11 cents an hour.</p>

        <div class="inline-asset">
          <img src="./assets/portraits/1.jpg">
          <div class="caption">Photo caption here....</div>
        </div>

        <p>The jobs Rojas did throughout their entire prison sentence are among the most common for California prisoners: essential operational functions such as laundering uniforms and linens, mopping cellblock units, prepping meals and mowing lawns. Rojas says they did just about every task imaginable under this category of work while at CCWF, and received very few other rehabilitative programming options.</p>
        <p>Referred to as “institutional support” or “facility maintenance,” this basic work is sometimes unpaid. Each institution determines a finite number of paid assignments, and some prisoners have to wait until a vacancy becomes available. This can take months — sometimes years. The pay scale starts at eight cents an hour and can go up to 11. Compared to other work assignments or programming in the prison, these prison workers generally do not receive credits toward an earlier release or participate in formalized training programs.</p>
        <p>The California Department of Corrections and Rehabilitation (CDCR) believes work, any type of work, is inherently rehabilitative and useful for prisoners. However, critics and prisoner advocates say the state’s prison system has evolved into one of the most sophisticated in the world — one that relies on prison labor more heavily for operations and surveillance than as a tool for rehabilitation. As a result, they say California prisoners are leaving prison ill-suited for life on the outside in terms of job readiness, mental health and socialization skills.</p>
        <p>Facility maintenance jobs are the most common prisoner assignments in <a href="https://www.bjs.gov/content/pub/pdf/csfcf05.pdf">74% of all state and federal correctional facilities</a> across the U.S. This makes economic sense: employing prisoners for zero to very low wages saves agencies, like the CDCR, millions of dollars each year. The state has one of the most expensive prison systems in the world and spends about <a href="https://lao.ca.gov/PolicyAreas/CJ/6_cj_inmatecost">$81,000 a year</a> to imprison a person &mdash; a budget that has increased by 58% in nearly a decade.</p>
        <p>Prison programming is hierarchical, and work and rehabilitative opportunities are largely determined by a decades-old classification process that evaluates the prisoners&rsquo; risks and needs. Some prisoners receive higher-paying, meaningful assignments while a large majority are stuck performing operational duties.</p>
        <p>For Rojas&rsquo; classification, counselors looked at a range of factors, including the number of tattoos they had, their prior gang affiliations, marital status and the violent nature of their crime. Combined with Rojas&rsquo; low score on an academic assessment test, the final score deemed them the highest security level (Level IV) with the highest amount of supervision required (closed custody).</p>
        <p>Rojas was immediately placed into a facility maintenance job, starting off on yard crew where they&rsquo;d spend long shifts outside mowing lawns, picking weeds and unpacking heavy deliveries in the 100-plus degree weather of Chowchilla.</p>
  
        <hr>

        <p>How prisoners like Rojas spend their time has increasingly become more important: Major reforms and shifts in policies have <a href="https://www.ppic.org/wp-content/uploads/californias-future-corrections-january-2019.pdf">dramatically decreased the state’s prison population</a>, with a large uptick of prisoners moving either under the authority of county jails or receiving early releases. In 2006, the California state prison population peaked at nearly 163,000. By 2015, <a href="https://www.ppic.org/publication/californias-changing-prison-population/"> the population dropped down to 111,000.</a> Currently, the CDCR houses about 117,000 prisoners across its 35 prison facilities and 42 conservation camps.</p>

        <iframe src="https://cdn.knightlab.com/libs/storyline/latest/embed/index.html?dataURL=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1bB1GNCOIgxw94wodpcobvYjSLn-WbUiBcH8FJU9VPAQ%2Fedit%23gid%3D0&amp;dataYCol=institutionalpopulation&amp;dataXCol=yearasofjune30&amp;dataDateFormat=%25Y&amp;chartDateFormat=%25Y&amp;chartYLabel=CDCR%20Institutional%20Population%20(in%20thousands)&amp;sliderCardTitleCol=title&amp;sliderCardTextCol=text" style="width:100%;height:650px;" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0"></iframe>

        <p>These landmark changes refocused the state on prisoner rehabilitation: Budgets have increased by almost 30 percent in the past five years for rehabilitation programming, including cognitive behavioral treatment, substance abuse, academic and vocational training.</p>
        <p>There&rsquo;s been another shift in the state&rsquo;s prison system: Women have also become the <a href="https://www.prisonpolicy.org/reports/women_overtime.html">fastest-growing</a> demographic. Although a majority of women are held <a href="https://www.prisonpolicy.org/reports/pie2018women.html">in local jails</a>, the population of women&rsquo;s state prisons grew nearly eightfold in the past 40 years, more than doubling the growth of male prisoners. Currently, there are about 5,000 women in the custody of the CDCR.</p>
        <p>According to criminal justice experts, the increase can be attributed to the punitive policies of the 1980&rsquo;s and 90&rsquo;s, which were especially devastating to women. Women in state prisons are <a href="https://www.sentencingproject.org/publications/incarcerated-women-and-girls/">more likely than men to be incarcerated for low-level crimes</a>, such as drug or property offenses.</p>
        <p>Criminal justice experts and research organizations looked closer at the unique experiences of incarcerated women as their growth rapidly increased. A Bureau of Justice Statistics study revealed that <a href="https://www.themarshallproject.org/2017/06/22/the-mental-health-crisis-facing-women-in-prison">66 percent of women in prison reported a history of mental disorder</a> &mdash; almost double the percentage of incarcerated men. About half of women who enter prison or jails have been physically or sexually abused, putting them at risk of re-traumatization because they face higher rates of sexual abuse by prison staff.</p>
        <p>According to <a href="https://www.prisonpolicy.org/scans/NIC_018017.pdf">research</a> compiled by the National Institute of Corrections (NIC), male prisons usually provide a greater variety of educational and vocational opportunities than women&rsquo;s prisons, as well as training for more skilled, higher-paying occupations. Women in prison also receive fewer work assignments and lower pay than male inmates, and have less access to work-release programs.</p>
        <p>Women are also disciplined more severely than men for similar behavior, which works against their ability to gain privileges such as advanced rehabilitative programming or time off their sentences.</p>
        <p>Rojas, now 38, knows first-hand how abusive the California state prison can get. They are one of four plaintiffs who filed a lawsuit against the CDCR for violent assaults by CCWF prison guards in 2015. Rojas alleges their gender non-conforming identity made them a target for verbal and physical harassment by male prison guards. Because they stood up against authorities, filed complaints and harassment reports, Rojas says that they repeatedly retaliated, including losing access to reentry programming. The CDCR cites a lack of sufficient evidence to back up such allegations.</p>
        <p>Until the very end of their 15-year sentence, Rojas was mandated to perform basic provisional services for CCWF. For the last year, they remained in the scullery for most of their work shifts.</p>

        <div class="inline-asset">
          <img src="./assets/portraits/4D7A8477.jpg">
          <div class="caption">Photo caption here....</div>
        </div>

        <p>Despite being released over two years ago, Rojas still has lingering social anxiety from being locked up: It takes a little while to gain Rojas&rsquo; trust, for them to look you in the eye as they&rsquo;re speaking. In large groups or new environments, Rojas prefers to wear baseball caps over their partially buzzed hair, pulled low to the eyebrows. What time has provided instead is perspective for Rojas &mdash; an understanding of where some of their lack of confidence comes from.</p>
        
        <p>Today, Rojas wonders why proper rehabilitative programming and reentry resources could ever be denied in favor of prison maintenance jobs.</p>
        
        <p>Rojas&rsquo; normally low, soft voice suddenly rose angrily as they recalled the hypocrisy of rehabilitation: &ldquo;I said to them, &lsquo;Okay neighbor, I&rsquo;ll be out there soon.&rsquo; Like why wouldn&rsquo;t you want to do this for people in prison, if they&rsquo;re asking you for help? I&rsquo;m going back into the community and I could become <em>their</em> neighbor.&rdquo;</p>

      </article>

      <hr>

    </section>


    <section>
      
      <h2>Prison labor as a “necessary” condition of the prison system.</h2>

      <article>

        <p>In 2018, attention to prison labor issues was heightened during two major national news events.</p>

        <p>During the summer, <a href="https://www.vox.com/2018/8/17/17664048/national-prison-strike-2018">a nationwide prison strike</a> took place in 17 states, including South Carolina, Georgia and Florida (only a handful of California prisons joined). American prisoners organized hunger strikes, work stoppages and boycotts of commissaries with the help of the Incarcerated Workers Organizing Committee (IWOC), a national prison abolition advocacy group. There were <a href="https://incarceratedworkers.org/campaigns/prison-strike-2018">10 demands</a> in all, including increased funding for rehabilitation programs, improved prison conditions and &ldquo;an immediate end to prison slavery.&rdquo; The sweeping demands highlighted the shared plights of prisoners across the country &mdash; it was a rallying cry for the humanization of prisoners.</p>
        
        <p>In the fall, when California faced its most deadly wildfire yet, <a href="https://www.nytimes.com/2018/11/15/us/california-paying-inmates-fight-fires.html">news stories</a> raised awareness of the state&rsquo;s use of inmate firefighters. They were presented as underpaid heroes responsible for dangerous and necessary work, yet earned only <a href="https://www.cdcr.ca.gov/Conservation_Camps/docs/FAQ-Fire-Camps.pdf">two dollars a day</a> (and an additional dollar an hour during active fire). Those jobs aren&rsquo;t easy to get. They&rsquo;re coveted because they offer some of the highest wages a California prisoner can earn. Currently, <a href="https://www.cdcr.ca.gov/Conservation_Camps/">only 3,700 prisoners are enrolled in California&rsquo;s fire camps</a>.</p>

        <p>Brooke Terpstra, an organizer and member of IWOC&rsquo;s Oakland chapter, says the conversation around the state&rsquo;s prison labor practices &mdash; in particular, the focus on the prisoner firefighters &mdash; is limiting. He emphasizes that there&rsquo;s only one other industry to which prison labor is absolutely essential in California: &ldquo;imprisonment itself.&rdquo;</p>

        <p>He argues that this should raise serious concerns about the dignity of prisoners, since they&rsquo;re expected to keep up the same facilities that are keeping them &ldquo;captive&rdquo;: &ldquo;You can call forced labor by any other name but making you essentially maintain the same institution that&rsquo;s kicking the crap out of you...is utterly perverse,&rdquo; said Terpstra.</p>

        <p>Bill Sessa, a spokesperson for the CDCR, says it&rsquo;s imperative that every prisoner &ldquo;must do something&rdquo; &mdash; a work assignment, education or any other type of programming. But he acknowledges that prisoners help CDCR&rsquo;s goal of making &ldquo;prisons as self-sufficient as we can.&rdquo;</p>
        
        <p>The mandate that CDCR prisoners first serve the efficiency of the prison is not a hidden motive: it&rsquo;s actually written into the CDCR&rsquo;s current <a href="https://www.cdcr.ca.gov/Regulations/Adult_Operations/docs/Title15_2018.pdf">code of regulations</a>. In Article 3, Section &sect; 3040 of the document, it states that programming participation is required for anyone considered &ldquo;able-bodied,&rdquo; but that prison operations take precedent:</p>

        <div class="inline-asset">
          <img src="./assets/documents/CDCRpt1.png">
          <img src="./assets/documents/CDCRpt2.png">
          <div class="caption">Photo caption here....</div>
        </div>


        <div id="two">


          <div id="start-scroll"></div>
          <div class="img-scroller">
           <img src="./assets/archival/1.jpg">
           <div class="caption">San Quentin dining hall, undated. Photo courtesy of CDCR.</div>
          </div>

          <p>But Sessa insists &ldquo;there is rehabilitation in discipline,&rdquo; and that people who focus on the jobs&rsquo; low wages or the lack of sophisticated skill training ignore the redemptive qualities of work itself. He says a prisoner&rsquo;s motivation for working is inherently different. Job responsibilities give prisoners an opportunity to contribute to larger goals and assist with &ldquo;the process of forgiving themselves&rdquo; for the crimes they&rsquo;ve committed.</p>


          <div id="scroll-img-two"></div>

          <p>According to Sharon Dolovich, a UCLA law professor and director of the university&rsquo;s Prison Law &amp; Policy Program, making prisoners work stems from early 19th century penitentiary models. Prisoners were made to live in complete isolation and silence, and work in their cells to produce shoes and different items used by the prison. The model tested the hypothesis that if prisoners worked, they could learn the moral benefits of hard work. In the Auburn Prison in New York, work was used as a form of punishment where prisoners performed physical labor for the profit of local businesses, but were forbidden to speak with one another.</p>

          <div id="scroll-img-three"></div>

          <p>In California, the concept of prison labor is nearly as old as the state itself: it was founded as a free state in 1850 and in the following year, California&rsquo;s first prison was established in Marin County &mdash; today it&rsquo;s known as San Quentin State Prison. Historians say the state&rsquo;s corrections industry has always been directly linked to opportunities for profit and cost-savings.</p>


          <div id="scroll-img-four"></div>



          <p>Built in response to the influx of crime during the Gold Rush, the prison&rsquo;s private owners agreed to run the state&rsquo;s prison in exchange for employing convict labor for their own profit. The earliest California prisoners were deployed throughout the Bay Area to work for any willing employers, and a brick-making factory was built at the prison&rsquo;s site. When state authorities took possession of the prison in 1855, citing the owners&rsquo; failure to properly secure the prison in favor of profit motives, there were also even charges that <a href="http://scq.ucpress.edu/content/72/1/19.full.pdf+html">the state's black prisoners were sold to the New Orleans slave market.</a></p>

          <div id="scroll-img-five"></div>

          <p>Under state ownership, contracting prison labor continued, though under more controlled conditions. <a href="https://history.sfsu.edu/sites/default/files/documents/ExPostFacto/Jessica_Poe_Unfree_Labor.pdf">California prisoners manufactured goods for a range of contractors</a> including saddle and harness makers, and boot and shoe manufacturers. By 1879, San Quentin became the largest furniture manufacturer on the entire West Coast. In response to protests from groups that were threatened by such cheap labor, a mill was created for prisoners to produce heavy agricultural jute bags &mdash; work that did not interfere with the free market.</p>

          
          <div id="scroll-img-six"></div>

          <p>In addition to contracted labor, prisoners were employed by the state to do work that mirrors today&rsquo;s in-prison facility maintenance jobs: They were hired as cooks, waiters, clerks, washmen and gardeners. Vestiges of these early-day prisoner work models have trickled into today's operation structure of the CDCR, which relies on prisoners to work.</p>

          
          <div id="scroll-img-seven"></div>

          <p>But Dolovich notes that prisoners aren&rsquo;t afforded the same protections as workers on the outside. California prisoners are not generally protected by state or federal labor laws. They are also paid far less than minimum wage, treatment that may be justified by the 13th Amendment, which says &ldquo;involuntary servitude&rdquo; can be used as a &ldquo;punishment for crime&rdquo; for individuals who &ldquo;have been duly convicted.&rdquo;</p>


          
          <div id="end-scroll"></div>


          <p>Additionally, prisoners aren&rsquo;t entitled to such rights as minimum wage protections, the ability to collectively bargain and Social Security. And although prisoners are under Occupational Safety and Health Administration (OSHA) protections, they don&rsquo;t have access to their full benefits. OSHA is required to notify prisons before inspections, which adds an extra layer of opacity between prisoners and regulators.</p>



        </div>

        
      
      </article>

      <hr>

    </section>





    <section>
      
      <h2>The Female Prison Laborer</h2>

      <article>

        <p>Prisoner advocates say that though many facility maintenance positions are knowingly exploitative for prisoners, most would rather opt to have a job instead of not working.</p>
        <p>Terpstra says the fact that prisoners readily seek out and accept unstimulating, low-paying work is indicative of how &ldquo;sophisticated&rdquo; the state&rsquo;s prison system environment is: &ldquo;Work is actually withheld and used as a privilege and sought after to get simple relief from the torture, psychological distress and isolation of being locked in your cell.&rdquo;</p>
        <p>&ldquo;If you gave them a choice of working in the kitchen for 8 cents an hour or sitting in their cells doing nothing, they would choose the work,&rdquo; Dolovich adds. &ldquo;They would get their 8 cents, which over time would give them enough money to buy toothpaste or basic supplies at the commissary.&rdquo;</p>

        <div class="inline-asset">
          <img src="./assets/portraits/Janell.jpg">
          <div class="caption">Photo caption here....</div>
        </div>

        <p><strong>Janell Brown</strong>, 29, was paroled in August and spent almost a decade in several California prisons for a variety of felonies, including gun charges and grand theft auto, though you may not guess it by looking at her; she appears even younger than her age and has large, bright blue eyes and blonde hair. While in CCWF, she worked as a yard crew member, a porter and in the kitchen where she was assigned to wipe the dining tables between each 15-minute meal shift.</p>
        <p>She had to work quickly. Brown says prison guards were constantly verbally abusive, especially if they deemed her or others too slow. &ldquo;They would tell me: &lsquo;Hurry the fuck up&rsquo;, &lsquo;What the fuck is your problem?&rsquo;, &lsquo;Are you fucking stupid?&rsquo;,&rdquo; Brown said. The cruel treatment still bothers her today. &ldquo;If you want us to do a job, then you should treat us professionally.&rsquo;&rdquo;</p>
        <p>According to <a href="https://www.prisonpolicy.org/scans/NIC_018017.pdf">a research study</a> from the National Institute of Corrections (NIC), a key pattern of custodial misconduct in women&rsquo;s correctional facilities, in addition to rape and sexual assault, is verbal degradation. Because so many women enter the criminal justice system with past abuses, exposure to this kind of environment can further impact existing PTSD, depression, anxiety, and other mental illnesses and disabilities.</p>
        <p>Despite the belittling treatment, the jobs were an economic necessity for Brown. Brown grew up in group homes and foster care, like nearly 17 percent of women offenders nationally. Without family or friends who could add money into her account, she depended on her 8 cent hourly wage for basic supplies. Brown said she&rsquo;d save for months in order to buy simple items such as soap or shampoo. She also noted that though her wages were the lowest of the prisoner pay scale, they would often work against her because her balance exceeded the maximum allowed to be eligible for &ldquo;an indigent pack&rdquo; &mdash; the free, basic hygiene kit supplied by the CDCR.</p>
        <p>Brown said throughout each one of her prison terms, she asked to be placed in fire camps but was never given the opportunity.</p>
        <p>Terpstra criticizes CDCR&rsquo;s <a href="https://www.cdcr.ca.gov/ombuds/Entering_a_Prison_FAQs.html">inmate classification process</a>, which was pioneered during the state&rsquo;s prison boom in the 1980&rsquo;s. He says the prison system is creates &ldquo;different classes of prisoners.&rdquo; Two decisions largely determine a prisoner&rsquo;s programming assignment and overall prison experience: the facility they&rsquo;ll be placed in &mdash; for example, an open dormitory versus one with armed guards at the perimeter &mdash; and the amount of supervision they require. Minimum custody levels qualify for assignments that may take place outside the facility, while the highest custody levels require direct and constant supervision in the facility.</p>
        <p>However, according to the NIC study, the classification system was designed largely for a male population. Like the rest of the prison system&rsquo;s policies and procedures, most of the assessment instruments were validated for male prisoners, which may make them inaccurate in calculating the risks and needs of women offenders. In fact, there&rsquo;s a tendency to over-classify women, placing them at higher levels of custody or supervision than necessary.</p>
        <p>Ryken Grattet &mdash; a UC Davis sociology professor who also once served as the CDCR&rsquo;s assistant secretary for research and was part of the department&rsquo;s 2011 classification system expert panel &mdash; adds that classification works &ldquo;to the extent that there's stability in the population.&rdquo; He explained that despite the major policy and population changes of the past decade, the process has largely not been reevaluated.</p>

        <div class="inline-asset">
          <img src="./assets/portraits/4D7A7666.jpg">
          <div class="caption">Photo caption here....</div>
        </div>

        <p><strong>Taylor Lytle </strong>was 23-years-old when she received her Level II classification in 2013. Because she was a low-risk offender with a drug conviction, the Los Angeles native knew she would be considered for fire camps, but she wanted to avoid the program entirely. &ldquo;I&rsquo;m a heavyset person,&rdquo; Lytle explained. At 5&rsquo;10&rdquo; and 310 pounds, the dangerous and highly physical demands of fire camp were something she didn&rsquo;t think her body could endure safely; Lytle was intimidated by the training. &ldquo;I just knew I couldn&rsquo;t do it.&rdquo;</p>
        <p>Romarilyn Ralston, program director for Project Rebound at California State University Fullerton and a member of the California Coalition of Women Prisoners (CCWP), adds that though fire camps are considered privileged assignments, they&rsquo;re often given to women who aren&rsquo;t physically and mentally fit for the program because of the increased need during fire season. <a href="https://www.prisonpolicy.org/scans/NIC_018017.pdf">A study</a> from the National Institute of Corrections notes that women frequently enter jails and prisons in poor health, and experience more serious health problems than their male counterparts.</p>
        <p>After growing up in foster care since the age of 11, Lytle understood how to deftly navigate the state system: she got back on her psychotropic medication, knowing it would disqualify her from fire camp training, and was then transferred to the California Institution for Women (CIW) in Corona, where she was put to work in the prison&rsquo;s kitchen.</p>
        <p>While she avoided the physical demands of firefighting training, Lytle compared kitchen work to slavery, calling it &ldquo;the worst job&rdquo; in prison, not only because of its responsibilities but also the way she was treated in the prison kitchen.</p>
        <p>&ldquo;Because of my sexuality, I always felt like it was a big issue with male staff and their bravado,&rdquo; said Lytle, who describes herself as &ldquo;butch&rdquo; and &ldquo;dominant.&rdquo; Because of the bullying she endured at the hands of one correctional officer in particular while in the kitchen, Lytle would often refuse to go into work, which resulted in frequent 115&rsquo;s, or write-up&rsquo;s: &ldquo;I always dealt with being a target because of my size...everybody wants to break down the biggest person.&rdquo;</p>
        <p>Lytle was almost transferred to a higher security level facility, but a reduction in sentences for drug convictions under Proposition 47 meant she received an early release midway through her four-year sentence. She worked in the kitchen until the very end of her term.</p>
        <p>Ralston says incidents like Lytle&rsquo;s are an example of how privileges within women&rsquo;s prisons are dictated by how you look &mdash; not only in the treatment received by prison guards and staff, but also opportunities for higher-wage jobs. She says classification committees &ldquo;size women up&rdquo; for different roles, based on physical attributes and appearances. For more privileged jobs, like clerical work, that involve less hard labor, the CDCR seeks a certain type of woman: &ldquo;They usually hire women who are girly, pretty, soft-spoken, obedient, compliant,&rdquo; said Ralston.</p>
    
        <div class="inline-asset">
          <img src="./assets/portraits/4D7A8307.jpg">
          <div class="caption">Photo caption here....</div>
        </div>

        <p><strong>Jayde Amato</strong>, a 31-year-old, long-haired brunette from Huntington Beach, checked off many of these physical requirements. She entered the state&rsquo;s prison system in 2011 at the age of 23 after getting into a fight with another woman, and was sentenced for assault with a weapon and great bodily injury. Amato served a majority of her sentence at CCWF. Throughout her seven years in prison, she moved through higher level opportunities, including auto body training, electrical work, cosmetology and the dental lab, one of the programming opportunities offered by the <a href="https://www.calpia.ca.gov/about/">California Prison Industry Authority (CALPIA)</a>.</p>
        <p>CALPIA is considered one of the top tiers of work programming for prisoners. It operates as a semi-autonomous agency within the prison system that sells 1,500 prisoner-produced goods and services to the state agencies and entities, such as the Department of Motor Vehicles.</p>
        <p>Commonly referred to as &ldquo;correctional industries,&rdquo; these state-owned businesses give prisoners diverse training opportunities, ranging from more advanced skills like computer coding and commercial diving, to manufacturing prisoner uniforms, furniture and denture-making, egg production and state administrative services.</p>
        <p>From the start, Amato was determined to avoid being placed in the kitchen. &ldquo;It&rsquo;s like the lowest of the low. I heard of other jobs and I didn&rsquo;t want to start at the bottom,&rdquo; said Amato. She approached department heads and program supervisors to try to land in a better position. But she says it was more than her hustling that helped.</p>
        <p>&ldquo;All those jobs? I got them because I knew if I was face-to-face with them, I could just sit there, bat my little eyelashes, make sure I look really cute,&rdquo; said Amato. She eventually landed in a clerical position, which paid the highest wage she ever earned: 45 cents per hour.</p>
        <p>But her feminine appearances also came with its own set of challenges: constant harassment from one of the officers she clerked for &mdash; a man Amato says took advantage of the power he had over her.</p>
        <p>Amato described her experience with an officer who would always look for her and call her over. He&rsquo;d comment on her looks and tell her how pretty she was. &ldquo;He&rsquo;d stand so close to me and it was so uncomfortable, being asked personal questions that had nothing to do with the job.&rdquo; Often, while she worked, he&rsquo;d stare at her silently from across the yard or room. &ldquo;I felt like I was held captive, even within the prison, by the people who are supposed to be watching over me or making sure I&rsquo;m okay.&rdquo;</p>
        <p>From 2011 to 2015, the number of reported allegations of sexual victimization in correctional facilities <a href="http://www.bjs.gov/index.cfm?ty=pbdetail&amp;iid=6326">nearly tripled</a>. Specifically, sexual misconduct and harassment of prisoners by staff accounted for more than 60 percent of this total increase.</p>
        <p>Despite having financial support from her family, Amato didn&rsquo;t want to become their burden. She was determined to keep her higher-level positions, and made it a goal to not give prison staff opportunities to retaliate against her, which would&rsquo;ve risked her family&rsquo;s visits, including conjugal visits with her husband.</p>
        <p>Though her looks solicited unwanted attention, Amato says her stereotypically pretty, feminine appearance allowed her to mostly stay under the radar, even if she subversively broke rules while in prison.</p>
        <p>Being placed into higher level work, like CALPIA, usually results in a better reentry experience for prisoners. Amato says the positions allowed her to demonstrate good behavior, which resulted in a reduction of her prison sentence by over a year and a half. It also allowed her to segue into a transitional housing facility, which provided vocational and counseling services that Amato says were critical for preparing her for life on the outside.</p>
        <p>Chuck Pattillo is the longest serving general manager of CALPIA. He retired in January and served as CALPIA&rsquo;s deputy chief executive officer for two years before heading the entire organization for 14 years. He believes its programs are a model for successful rehabilitation by directly linking to jobs that are in demand in California. CALPIA partners with unions for apprenticeships and provides employment certifications. Pattillo says that setting up a prisoner to find work quickly is key to lower recidivism.</p>
        <p>&ldquo;You want to move them to self-sufficiency faster and a job is the fastest way to make somebody self confident, self sufficient. Unless the person can support themselves, they don't feel their worth,&rdquo; Pattillo said.</p>
        <p>The positions also pay higher wages, with prisoners earning <a href="https://www.calpia.ca.gov/about/">$.35 to $.95 per hour</a>, and boasts a significantly lower recidivism rate than the rest of CDCR&rsquo;s programming: <a href="https://www.calpia.ca.gov/about/2016-2021-calpia-strategic-business-plan/2016-strategic-business-plan/">7.13% compared to 50%</a>.</p>
        <p>But CALPIA is not without its critics.</p>
        <p>Grattet says that because CALPIA hand selects prisoners like Amato, who already have a lower propensity to re-offend, the program&rsquo;s prized lower recidivism rate should not be taken at face value. The <a href="https://www.auditor.ca.gov/pdfs/reports/2018-113.pdf">state auditor&rsquo;s 2019 report </a>also noted that CALPIA programs consistently have low enrollment rates and are significantly underutilized. From 2014 - 2018, its vocational programs averaged 48 percent enrollment.</p>

        <div class="inline-asset">
          <img src="./assets/portraits/4D7A7708.jpg">
          <div class="caption">Photo caption here....</div>
        </div>

        <p><strong>Angelica Sanchez,</strong> 39, says prison kitchens are like a &ldquo;little cartoon beehive,&rdquo; that have a dangerous environment for workers. It&rsquo;s easy to slip while carrying large pots or get burned on a stove or fryer. During her two years at CIW, she said prisoners were never given any kind of safety training other than being handed a hair net, and that incoming workers relied on other prisoners to show them the ropes.</p>
        <p>She recalls her time in the kitchen as &ldquo;degrading,&rdquo; and claims she was never paid for her work: &ldquo;Prisons belittle you, they make you feel like shit.&rdquo; Sanchez, a mother of six, gave birth to one of her daughters in 2005 while she was still in prison. According to a <a href="http://www.bjs.gov/index.cfm?ty=pbdetail&amp;iid=823">report</a> from the Bureau of Justice Statistics, more than 60 percent of female prisoners are mothers of minor children.</p>
        <p>Ralston says this inherently changes the way a woman copes with imprisonment &mdash; self-preservation becomes a priority so that the women can get home to their families. &ldquo;You can&rsquo;t have feelings in there, you can&rsquo;t dwell on shit because either you&rsquo;re gonna want to kill yourself, or you just gotta survive,&rdquo; said Sanchez.</p>
        <p>Because chow hall is usually the main social event of the prison day (&ldquo;It&rsquo;s where everyone gets seen,&rdquo; Sanchez explained), fights would often break out. The dining area is where prison and power politics play out, including tense interactions between prison guards and the kitchen workers.</p>
      
      </article>

      <hr>

    </section>


    <section>
      
      <h2>IV. Retaliation instead of rehabilitation</h2>

      <article>

        <div class="embed-container"><iframe src="https://player.vimeo.com/video/333035493?background=1" allowfullscreen></iframe></div>

        <p>For Rojas, the kitchen eventually became a site of serious humiliation and retaliation.</p>
        <p>They say their harassment started on day one at CCWF, from the moment they stepped off the bus for reception and classification. After protesting when a male officer did a full pat-down and body search, the guards promptly placed Rojas into a holding cage and forced her to wear a &ldquo;mumu,&rdquo; a dress given to female prisoners who are considered non-compliant.</p>
        <p>They say it was only the start of their gender-non conforming identity being used against them for 15 years. &ldquo;The supervising officers just didn&rsquo;t like me,&rdquo; Rojas said. &ldquo;I look different, I&rsquo;m vocal and opinionated, and I spoke up a lot.&rdquo;</p>
        <p>Throughout their sentence, Rojas claims it was their masculine appearance that prompted unnecessary intimidation, from Bible-thumping messages to sexual comments. They were thrown into “the hole” often for their open defiance, had privileges taken away, including wages for their yard crew and porter assignments. In a response, CDCR said in an email  that Rojas had been counseled several times for being repeatedly absent at work, which resulted in loss of good time, or sentence reductions.</p>
        <p>As time passed, Rojas realized there was another way to be defy the prison system.</p>
        <p>After nearly 14 years in prison and recognizing the lack of resources available to women to safely navigate the prison system, Rojas became an activist inside CCWF. They organized small circles of women to go over law library manuals so that women could understand their rights and file complaints. &ldquo;They started to notice that we were all kind of sticking together,&rdquo; said Rojas, who quickly earned a reputation among the prison staff. &ldquo;I had friends that couldn&rsquo;t speak out but were rooting me on in silence,&rdquo; said Rojas.</p>
        <p>The tension culminated in a traumatic assault in November 2015. According to a federal lawsuit filed by Rojas and other inmates in 2017, a male officer called Rojas a ‘stupid hoe’ while they were performing programming duties. Finally fed up, Rojas told him that they’d been documenting verbal abuse, which they planned to report to the prison’s internal investigative unit. Several days later, staff conducted a search of the cell that Rojas shared with two other cell mates, both of whom also identify as gender non-conforming/queer. During the search, the lawsuit alleges an officer slammed Rojas to the ground and performed a “boot burn,” dragging the heel of his boot against their back, which deeply bruised and lacerated their skin. Rojas adds that the officer, who was chewing tobacco at the time, spat on them repeatedly while they remained on the ground.</p>
        <p>The complaint document also details how Rojas&rsquo; cellmates were subsequently attacked on that same day, after they threatened to report the officer for excessive force. One roommate was strip searched and had her bare breast stepped on by an officer. Another, a known victim of sexual abuse, was pinned to the floor while her clothes were cut off her body. The guards also openly discussed the size of their genitalia in front of Rojas and one of the roomates, which they perceived to be a threat of rape.</p>
        <p>All three were held in separate isolation cages for approximately 12 hours without access to food, water, or a bathroom, after enduring sexual and physical harassment. At one point during the 12-hour hold, Rojas, who could hear one of their roommates being attacked, attempted to hang themself with their shoelaces, hoping to catch the attention and help of other prison staff. When they were eventually taken out of the cages, all three were placed into solitary confinement. Despite filing multiple grievance reports after the incident, the involved guards were never disciplined.</p>
        <p>In 2017, Rojas and the cellmates collectively filed a civil rights suit against the CDCR, citing violations of their First Amendment rights (the ability to file grievances without retaliation), as well as their Eighth Amendment rights (the lack of access to medical care after the attack). In response, the CDCR argued that there was insufficient evidence to back up the allegations made by Rojas and the other plaintiffs. The case is now pending a settlement conference that will be held in early May.</p>
        <p>To this day, Rojas says they have deep, realistic nightmares of the ordeal &mdash; vivid, disorienting dreams that take a moment to recover from. The slightest things can trigger the trauma, like a passing memory or a smell. There are nights where Rojas lies awake, unable to fall back asleep, remembering the scent of the guard&rsquo;s chewing tobacco.</p>
        <p>The NIC study says that misconduct toward women prisoners is &ldquo;aggravated by poor grievance procedures, inadequate investigations, and staff retaliation against inmates or parolees who &lsquo;blow the whistle.&rsquo;&rdquo;</p>
        <p>Before the incident, Rojas&rsquo; &ldquo;closed custody&rdquo; level did not allow them to work in the kitchen. When they were released from solitary after the incident, Rojas was about a year out from being released. They met with a committee and requested anger management and re-entry training, but was assigned to the kitchen instead, despite their custody level.</p>
        <p>&ldquo;They didn&rsquo;t allow me to take reentry classes...I begged for it&rdquo; they said, explaining that the training is typically provided to prisoners who are nearing the end of their sentences. It&rsquo;s a move Rojas believes was deliberate retaliation. &ldquo;They make you work instead of helping you. They&rsquo;re supposed to be doing rehabilitation. If I&rsquo;m asking for help and they&rsquo;re telling me &lsquo;no, you&rsquo;re going to wash dishes,&rsquo; it&rsquo;s punishment. It&rsquo;s the way they punish us.&rdquo;</p>
        <p>Two of the officers named in the grievance report filed by Rojas and their cellmates worked in separate parts of the prison. Because the kitchen was a common area that both men were able to access and monitor, Rojas believes their kitchen work assignment was the only place in the prison where they could be confronted by both men at the same time.</p>
        <p>While Rojas scrubbed floors and cleaned trays alone in the scullery, the guards would walk in to taunt and intimidate Rojas, saying they would make sure Rojas stayed in prison for a long time. Until the very end of their sentence, Rojas continued to come face-to-face with their abusers: &ldquo;It was a year of hell.&rdquo;</p>
      
      </article>

      <hr>

    </section>


    <section>
      
      <h2>V. On the outside: advocacy and healing</h2>

      <article>

        <p>It was a warm evening in late March when Lytle, Sanchez, Brown and Amato gathered in Rojas&rsquo; backyard in Compton.</p>
        <p>As dusk started to settle, Rojas placed wooden planks and scraps into a fire pit and unfolded lounge chairs, setting them up into a circle. A takeout box of pepperoni pizza and a liter of Squirt soda sat on the paint-chipped picnic table nearby.</p>
        <p>It was time for a &ldquo;healing circle,&rdquo; an intimate gathering that Rojas hosts for formerly incarcerated women every week. They all share a direct connection to Rojas &mdash; some had served their sentences with them at CCWF, others knew Rojas through the hood, or their organizing work. Today, Rojas is a community organizer and founding member of the Los Angeles chapter of the <a href="https://www.youngwomenfree.org/">Young Women&rsquo;s Freedom Center</a>, an advocacy group for formerly incarcerated women. They are also working to help raise awareness of the #MeTooBehindBars movement.</p>
        <p>To attend, some women drive from as far as Riverside County, while others brave the evening rush hour traffic from downtown Los Angeles. There are weeks where they will even bring their children along. For them, it&rsquo;s worth the effort. It&rsquo;s free weekly therapy, a space to be in the company of others who know what it&rsquo;s like to survive the prison system as a woman</p>
        <p>They say they&rsquo;re still surviving.</p>

        <div class="inline-asset">
          <img src="./assets/bg-2.jpg">
          <div class="caption">Photo caption here....</div>
        </div>

        <p>The unemployment rate for formerly incarcerated people is nearly five times higher than that of the general United States population. For formerly incarcerated people of color and women, it&rsquo;s even worse. Despite being more likely to be unemployed, they face the worst labor market disadvantages. Formerly incarcerated black women, in particular, experience severe levels of unemployment &mdash; <a href="https://www.prisonpolicy.org/reports/outofwork.html#fn:13">their unemployment rate is 43.6 percent</a>, compared to 18.4 percent for formerly incarcerated white men.</p>
        <p>Surviving these days is learning how to navigate society while the shadow of being a former female felon continues to follow them.</p>
        <p>As the fire of the healing circle began to flicker brighter, the women started discussing their financial and employment struggles, from being passed over for job opportunities to facing eviction by landlords.</p>
        <p>Lytle, who is now a community organizer with CCWP, is struggling to pay rent. Though she&rsquo;s grateful for the opportunity to work on issues she cares about, Lytle says it&rsquo;s difficult to save for bigger opportunities like education, when her wages can barely cover her living expenses.</p>
        <p>Brown agrees. She&rsquo;s currently living out of a car, and had just lost the only job she could find since her August release, which was an under-the-table job at a mechanic shop. While in prison, the only programming Brown truly enjoyed was a short-lived stint in the auto body shop, where she quickly fell in love with everything about fixing cars. It belies the stereotype of her girly feminine appearance, but it&rsquo;s what Brown finds most exciting about working on cars: &ldquo;I like the smell of car grease and oil. I just like wrenching,&rdquo; she said. &ldquo;I like doing something that kind of shows that women can do this too.&rdquo;</p>
        <p>But her most recent boss, the owner of the mechanic shop, had taken advantage of both her passion and her former felon status. Brown worked 12-hour shifts at the shop and was only paid $50 in cash each day. Though she knew it was wrong, Brown says had been desperate after being rejected from the 40-ish jobs she applied to after leaving prison, including applications at Jack-in-the-Box and warehouses.</p>
        <p>Then one day, her boss sent her a sexually suggestive video of himself. It forced Brown out of the only job she could find &mdash; and reminded her of prison: &ldquo;They automatically look at you like, &lsquo;Oh, they're pieces of shit,&rsquo;&rdquo; said Brown. &ldquo;That's not what it is like, we're worth something out here, you know, and we just need the opportunity to be able to excel.&rdquo;</p>
        <p>For Brown the emotional wounds from prison are still fresh, especially when she realizes how the prison had assigned her facility jobs in place of the reentry training that she needed: &ldquo;You spent all this time in there and they say that it was supposed to rehabilitate you, but when you get out, you're like really having anxiety and you're kind of just like stuck wondering, how are you going to do this now, you know? So in there when you're working and stuff, like it's just a waste of time. It's not doing anything for you at all. All it is, is benefiting them.&rdquo;</p>
        <p>Sanchez is mostly quiet during the conversation, nodding silently in agreement with others. Released in 2006 after serving two years, Sanchez has been out the longest of all the women. Since her release, Sanchez has struggled with sobriety. But she was inspired by how quickly Rojas hit the ground running with their advocacy work. She still refers to Rojas by their birth name: &ldquo;Stacy's like a big positive role model to me. Real big. I never seen nobody strive so much like I see her and she's gone through a whole lot of bullshit in prison. Fifteen years is not easy. People don't even get out,&rdquo; said Sanchez.</p>
        <p>She found employment just recently as a baker with Homeboy Bakery, a social enterprise organization in downtown Los Angeles that trains and hires formerly incarcerated people. It&rsquo;s Sanchez&rsquo;s first real job; she had only sold dope her entire life.</p>
        <p>Amato is currently pursuing paralegal studies and hopes to make up for the lost time she spent in prison. Currently, she works in a law firm where she hopes to someday help incarcerated juveniles.</p>
        <p>As the night progresses &mdash; and the fire pit became a glowing pile of ash &mdash; Rojas winds down the discussion and burns a small piece of wooden incense.</p>
        <p>When asked what freedom means to them now, since being released over two years ago, Rojas insists that though they are free from retaliation by the officers, the prison still has a hold on them. &ldquo;The prison hasn&rsquo;t ever done anything &mdash;- not one thing &mdash; to rehabilitate me,&rdquo; said Rojas. &ldquo;I&rsquo;m out here struggling, I feel so far behind. I&rsquo;m 38 years old, I know I don&rsquo;t know much, but thankfully the work that i&rsquo;m doing is from being an expert in prison.&rdquo;</p>
        <p>These days, Rojas&rsquo; resentment against the prison system has transformed into their motivation. &ldquo;My experience is my power now...We are the ones we've been waiting for.&rdquo;</p>
        <p>For Rojas, there&rsquo;s nobody else better fit for the fight.</p>
      
      </article>

      <hr>

    </section>

  





    <script src="app.js" async></script>  
    <%= t.include("partials/_footer.html") %>
    <%= t.include("partials/_analytics.html", grunt.data.json) %>

  </body>
</html>